
body{
    font-family: Consolas;
    background-color: rgb(18, 14, 38);
}


table{
    border-collapse: collapse;
    width: 100%;
    font-size: 16px;
}

td,th{
    border: none;
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid white;
    font-size: 16px;
}
.my-table{
    text-align: right;
    border-bottom: none;
}

.my-table>th{
    border-bottom: none;
}

.card-header{
    background-color: #1a1336;
}

.card-header h4{
    margin-top: 5px;
    font-size: 20px;
    color: rgb(6, 147, 227);
}

.card {
border: 2px solid whitesmoke;
background-color: hsl(252, 39%, 43%);
color: whitesmoke;
}

.second{
    margin-left: -24px;
    margin-right: -24px;
}

